@import 'baseMainCard.css';
@import 'theHeader.css';
@import 'baseSmallCard.css';
@import 'baseSettingsButton.css';
@import 'theFooter.css';
@import 'baseLabel.css';
@import 'interest.css';
@import 'baseInput.css';
@import 'baseNotification.css';
@import 'poll.css';
@import 'baseInteractPollButton.css';
@import 'baseInteractBar.css';
@import 'interactResult.css';
@import 'baseShopCard.css';
@import 'baseAudio.css';
@import 'live.css';
@import 'baseAnimButton.css';
@import 'baseButton.css';
@import 'basePopUp.css';
@import 'baseDurationInput.css';
@import 'baseDefiButton.css';
@import 'baseTextArea.css';
@import 'messageCouleur3.css';
@import 'concours.css';
@import 'participer.css';
@import 'baseAnimeInput.css';

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin-top: 60px;
}

#home-section{ 
    display: none;
}

#home-section.active{
    display: block;
    width: 100%;
}

#search-section{ 
    display: none;
}

#search-section.active{
    display: block;
    width: 100%;
}

#live-section{ 
    display: none;
}

#live-section.active{
    display: block;
    width: 100%;
}

#favorites-section{ 
    display: none;
}

#favorites-section.active{
    display: block;
    width: 100%;
}

#account-section{ 
    display: none;
}

#account-section.active{
    display: block;
    width: 100%;
}

#gifts-section{ 
    display: none;
}

#gifts-section.active{
    display: block;
    width: 100%;
}

#message-section{ 
    display: none;
}

#message-section.active{
    display: block;
    width: 100%;
}

/* VARIABLES DES COULEURS */
:root {
    /* VARIABLES DES COULEURS */
    --black: #000000;
    --secondBlack: #393939;
    --pink: #F05CC8;
    --white: #FFFFFF;

    /* VARIABLES DES POLICES */
    /* TITRE */
    --title: 'Inter', sans-serif;
    --titleWidth: 700;
    --titleSize: 28px;

    /* TITRE 2 */
    --title2: 'Inter', sans-serif;
    --title2Width: 600;
    --title2Size: 17px;

    /* TEXTES */
    --text: 'Inter', sans-serif;
    --textWidth: 500;
    --textSize: 15px;

    /* DESCRIPTION */
    --description: 'Inter', sans-serif;
    --descriptionWidth: 500;
    --descriptionSize: 13px;
    /* DESCRIPTION BOLD */
    --descriptionBoldWidth: 600;

    /* PETITE DESCRIPTION 2 */
    --smallDescription: 'Inter', sans-serif;
    --smallDescriptionWidth: 400;
    --smallDescriptionSize: 10px;
    /* PETITE DESCRIPTION BOLD */
    --smallDescriptionBoldWidth: 600;

    /* LABELS */
    --label: 'Inter', sans-serif;
    --labelWidth: 600;
    --labelSize: 12px;
  }

/* supression des comportements par défauts des liens */
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* suppression du comportement par défaut des textes */
h2, h1, p{
    margin: 0;
}

body {
    color: white;
    background-color: var(--black);
    margin: 0;
    padding: 0;
    
}

.titre{
    font-family: var(--title);
    font-weight: var(--titleWidth);
    font-size: var(--titleSize);
    margin-bottom: 5px;
}

.titre2 {
    font-family: var(--title2);
    font-weight: var(--title2Width);
    font-size: var(--title2Size);
}

.textes {
    font-family: var(--text);
    font-weight: var(--textWidth);
    font-size: var(--textSize);
}

.description {
    font-family: var(--description);
    font-weight: var(--descriptionWidth);
    font-size: var(--descriptionSize);
}

.descriptionBold {
    font-family: var(--description);
    font-weight: var(--descriptionWidth);
    font-size: var(--descriptionSize);
    font-weight: var(--descriptionBoldWidth);
}

.small-description {
    font-family: var(--smallDescription);
    font-weight: var(--smallDescriptionWidth);
    font-size: var(--smallDescriptionSize);
}

.label {
    font-family: var(--label);
    font-weight: var(--labelWidth);
    font-size: var(--labelSize);
}

.marginTB{
    margin-top: 20px;
    margin-bottom: 30px;
}

:root{
    --marginT: 20px;
    --marginB: 10px
}

.marginT{ 
    margin-top: var(--marginT);
}

.marginB{
    margin-bottom: var(--marginB);
}

.marginLR{
    margin-left: 10px;
    margin-right: 10px
}


