

.baseAnimeInput-label {
    color: var(--white);
    font-family: var(--title2);
    font-weight: var(--title2Width);
    font-size: var(--title2Size);
}


.baseInput-input{
    background: transparent;
    border: none;
    outline: none;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 14px;


    color: #939393;
    font-family: var(--text);
    font-weight: var(--textWidth);
    font-size: var(--textSize);
}
