.settingButton-container {
    display: flex;
    height: 55px;
    background-color: var(--secondBlack);
    flex-direction: row;
    align-items: center;

    min-width: auto;
    max-width: 450px;

    color: var(--white);
    border-radius: 10px;
    margin: 10px;
}

.settingButton-type {
    display: flex;
    min-width: 86px;
    
    justify-content: center;
    align-items: center;
}

.settingButton-textContainer {
    font-family: var(--title2);
    font-weight: var(--title2Width);
    font-size: var(--title2Size);
    padding: 5px;
}