.baseNotificationContainer {
    display: flex;
    background-color: var(--pink);
    color: var(--white);
    border-radius: 10px;
    height: 74px;
    padding-right: 5px;
    position: absolute;
    top: -100px; /* Initially offscreen */
    left: 0;
    right: 0;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1000;
}

.baseNotificationContainerActive {
    animation: slideNotification 5s 1s ease-in-out 1;
}

@keyframes slideNotification {
    0% {
        top: -100px; /* Start offscreen */
    }
    10% {
        top: 17px; /* Start sliding down */
    }
    90% {
        top: 17px; /* Continue sliding down */
    }
    100% {
        top: -100px; /* Slide back offscreen */
    }
}

.baseNotification-type {
    display: flex;
    min-width: 86px;
    height: 74px;
    background: var(--pink);

    border-radius: 10px 0px 0px 10px;
    justify-content: center;
    align-items: center;
}

.baseNotification-textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
}
