.smallCard-container {
    /* TEXTE */
    display: flex;
    height: 55px;
    background-color: var(--secondBlack);
    flex-direction: row;

    min-width: auto;
    max-width: 450px;

    color: var(--white);
    border-radius: 10px;
    margin: 10px;
  }

  .smallCard-textContainer {
    font-family: var(--title2);
    font-weight: var(--title2Width);
    font-size: var(--title2Size);

  }

  .smallCard-textAndLike {
    width: 100%;
    padding: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

.smallCard-type {
  display: flex;
  min-width: 86px;
  height: 55px;
  background: var(--pink);
  
  border-radius: 10px 0px 0px 10px;
  justify-content: center;
  align-items: center;
}
