
  
  .baseMainCard-container {
    /* TEXTE */
    font-family: var(--title2);
    font-weight: var(--title2Width);
    font-size: var(--title2Size);

    display: flex;
    height: 98px;
    background-color: var(--secondBlack);
    flex-direction: row;
    min-width: auto;
    max-width: 450px;

    color: var(--white);
    border-radius: 10px;
    margin: 10px;
  }
  
  .baseMainCard-textContainer {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .baseMainCard-type {
  display: flex;
  width: 86px;
  height: 98px;
  background: #F05CC8;
  
  border-radius: 10px 0px 0px 10px;
  justify-content: center;
  align-items: center;
  }