.baseAnimButton-container {
    background-color: var(--secondBlack);

    border-radius: 10px;
    height: auto;
    width: 30%;

    margin: 10px;
}

.baseAnimButton-container ul {
    margin-top: 0px;
    padding-left: 0px;
}

.baseAnimButton-container ul li a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;

    border-radius: 10px;

    display: block;
}

.baseAnimButton-container ul li a:hover {
    background-color: var(--pink);
}

.baseAnimButton-container ul li a.active {
    background-color: var(--pink);
}


.baseAnimButton-img {
    height: 45px;
    width: 45px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.baseAnimButton-title {
    font-family: var(--title);
    color: var(--white);
    font-size: var(--titleSize);

}