nav {
    height: 98px;
    background-color: #393939;
    width: 100%;
    position: fixed;
    bottom: 0%;
    left: 0%;
}

nav ul {
    height: 98px;
    margin-top: 0px;
    padding-left: 0px;
}

nav ul li {
    display: inline-flex;
    height: 98px;
    width: 20%;
}

nav ul li a {
    width: 100%;
    text-align: center;
    font-family: var(--smallDescription);
    font-weight: var(--smallDescriptionWidth);
    font-size: var(--smallDescriptionSize);
    color: white;
}

nav ul li a:hover {
    filter: invert(54%) sepia(55%) saturate(2135%) hue-rotate(286deg)
        brightness(97%) contrast(94%);
}

nav ul li a img {
    height: 30px;
    margin-top: 27px;
}
