header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--secondBlack);
}

.c3-logo {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.c3-logo img {
  margin: 0 auto;
}

.right-section {
  display: flex;
  align-items: center;
}

.coins {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: var(--black);
  border-radius: 5px;
}

.coins p {
  margin-left: 5px;
  font-family: var(--label);
  font-weight: var(--labelWidth);
  font-size: var(--labelSize);
}

.shop {
  padding: 5px 10px;
  background-color: var(--black);
  border-radius: 5px;
}

.shop :hover {
  cursor: pointer;
  filter: invert(54%) sepia(55%) saturate(2135%) hue-rotate(286deg)
  brightness(97%) contrast(94%);
}

.c3-logo :hover {
  cursor: pointer;
  filter: invert(54%) sepia(55%) saturate(2135%) hue-rotate(286deg)
        brightness(97%) contrast(94%);
}

.back-arrow :hover {
  cursor: pointer;
  filter: invert(54%) sepia(55%) saturate(2135%) hue-rotate(286deg)
        brightness(97%) contrast(94%);
}

